/* 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Unneeded? */
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body {
  background: #f9fafb;
  text-rendering: optimizeLegibility;
  color: #222222;
  font-family: "Inter", sans-serif;
}
ul {
  list-style: none;
}

.offline {
  height: 200px;
  width: 200px;
  background: red;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
